* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: url(./images/bookblock-11-15cYOiQc-unsplash.jpg) no-repeat center
    center/cover;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#add-task {
  margin: 3% auto 0% auto;
  background-color: white;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 2rem;
  width: 55%;
  box-shadow: 1px 1px 1px 1px black;
  justify-content: space-around;
  display: flex;
}
input {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  width: 80%;
  color: rgb(65, 64, 64);
}
#add-btn {
  padding: 0 0.4rem;
  border-radius: 0.7rem;
  box-shadow: 1px 1px black;
  font-size: 2rem;
  font-weight: 600;
  width: 15%;
  margin-left: 0.5rem;
  cursor: pointer;
}
#add-btn:hover {
  width: 15%;
  height: 10%;
  background-color: antiquewhite;
  font-size: 2.1rem;
  box-shadow: 2px 2px black;
  transition: 0.5s;
}

/* adding styles to events in task-container */
#task-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.task {
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: white;
  width: 60%;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px 1px black;
  display: flex;
  align-items: center;
  margin: 0 auto 1rem auto;
}
.task li {
  list-style: none;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  text-wrap: wrap;
  width: 70%;
}
.task button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.3rem 0.4rem;
  box-shadow: 2px 2px black;
}

/*     responsive design code      */

@media screen and (max-width: 700px) {
  #add-task {
    width: 95%;
  }
  .task {
    width: 90%;
  }
}
